<!DOCTYPE html>

<head>
    <link rel="icon" href="/static/images/favicon.png" type="image/icon type">
    <title>TODO APPLICATION | LOGIN</title>
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    <div class="todo-container-login">
        <h2>Login</h2>
        <br>
        <div class="todo-login">
            <form action="/login_account" method="POST" class="todo-header-login">
                <input type="text" name="name" placeholder="Enter User Name">
                <br><br>
                <input type="password" name="password" placeholder="Enter Password">
                <br><br><br>
                <center><button type="submit">Login</button></center>
            </form>
            <br>
        </div>
    </div>
</body>