* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #192a56;
}

.todo-container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 600px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.todo-container-choice {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 400px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.todo-container-login {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 400px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 325px;
}

.todo-container-register {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 400px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.todo-container-choice h2 {
    padding: 10px;
    font-family: 'Candal', sans-serif;
    font-size: 2em;
}

.todo-container-login h2 {
    padding: 10px;
    font-family: 'Candal', sans-serif;
    font-size: 2em;
}

.todo-container-login h3 {
    padding: 10px;
    font-family: 'Candal', sans-serif;
}

.todo-container-register h2 {
    padding: 10px;
    font-family: 'Candal', sans-serif;
    font-size: 2em;
}

.todo-container-register h3 {
    padding: 10px;
    font-family: 'Candal', sans-serif;
}

.todo-container-choice button {
    width: 150px;
    font-family: 'Candal', sans-serif;
    font-size: 1.5em;
    margin-left: -20px;
}

button {
    cursor: pointer;
}

.todo-container-login button {
    width: 85px;
    font-family: 'Candal', sans-serif;
    font-size: 1.2em;
    margin-left: -1px;
}

.todo-container-register button {
    width: 85px;
    font-family: 'Candal', sans-serif;
    font-size: 1.2em;
    margin-left: -1px;
}

.todo-header input {
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 2px;
    font-family: 'Candal', sans-serif;
}

.todo-header ::placeholder {
    text-align: center;
}

.todo-header-login input {
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 2px;
    font-family: 'Candal', sans-serif;
}

.todo-header-login ::placeholder {
    text-align: center;
}

.todo-header-register input {
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 2px;
    font-family: 'Candal', sans-serif;
}

.todo-header-register ::placeholder {
    text-align: center;
}

.todo {
    width: 400px;
    height: fit-content;
}

.todo-choice {
    width: 100px;
    height: fit-content;
}

.todo-container h2 {
    padding: 10px;
    font-family: 'Candal', sans-serif;
    font-size: 2em;
}

.todo-header textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 400px;
    font-family: 'Candal', sans-serif;
    font-size: larger;
}

.todo-header button {
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(51, 212, 100);
}

.todo-header-login button {
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(51, 212, 100);
}

.todo-header-register button {
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(51, 212, 100);
    width: 100px;
}

.todo-container ul {
    list-style: none;
}

.todo-list-item {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Candal', sans-serif;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
}

.todo-list-item form {
    width: 100%;
    display: flex;
}

.todo-list-item input {
    flex-grow: 2;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Candal', sans-serif;
}

.todo-list-item button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(51, 212, 100);
}

.todo-list-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(223, 43, 43);
    margin-left: 5px;
}

.todo-list-item div {
    flex-grow: 2;
}

.todo-list-item .edit {
    color: rgb(143, 233, 58);
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

.todo-list-item .remove {
    color: rgb(243, 96, 96);
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
}